body, html {
    height: 100%;
    margin: 0;
    background: rgb(31, 31, 31);
}

.settings-time > input, .settings-tatami > input {
    width: 60px;
    height: 20px;
    font-size: large;
}

.settings-time > button, .settings-tatami > button {
    width: 110px;
    height: 50px;
    font-weight: 750;
    border-radius: 4px;
    border-color: rgb(143, 143, 143);
    font-size: 1vw;
}

.time-modal, .tatami-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.settings-time, .settings-tatami {
    background-color: #a0a0a0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #b8b8b8;
    width: 40%;
    border-radius: 10px;
}

.close-time, .close-tatami {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
}

.close-time:hover,
.close-time:focus,
.close-tatami:hover,
.close-tatami:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 177.78vh;
    padding-top: 49.5%;
    overflow: hidden;
    background: rgb(0,104,255);
    background: linear-gradient(90deg, rgba(0,104,255,0.48) 0%, rgb(24, 24, 24) 50%, rgba(255,0,0,0.48) 100%);
}

.timer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 16%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.7147233893557423) 0%, rgba(0,0,54,0.7511379551820728) 74%, rgba(61,0,0,0.773546918767507) 100%);
}

.ao-container {
    position: absolute;
    top: 20%;
    left: 0;
    width: 50%;
    height: 100%;
}

.aka-container {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50%;
    height: 100%;
}

.time-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    white-space: nowrap;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
}

.image-start, .image-stop {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-start img, .image-stop img {
    position: absolute;
    left: 38%;
    top: 53%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
}

.image-stop {
    display: none;
}

.ao-score-container {
    position: relative;
    left: 50%;
    top: 2%;
    width: 30%;
    height: 35%;
    background: rgb(255, 255, 255);
    border-radius: 10%;
    border: 5px solid rgb(0, 102, 255);
}

.ao-score {
    left: 17%;
    top: -25%;
    position: absolute;
    font-size: 16.5vw;
    white-space: nowrap;
    text-align: center;
    color: rgb(0, 102, 255);
    font-family: "Oswald", sans-serif;
}

.aka-score-container {
    position: relative;
    left: 18.5%;
    top: 2%;
    width: 30%;
    height: 35%;
    background: rgb(255, 255, 255);
    border-radius: 10%;
    border: 5px solid rgb(255, 0, 0);
}

.aka-score {
    left: 17%;
    top: -25%;
    position: absolute;
    font-size: 16.5vw;
    white-space: nowrap;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: "Oswald", sans-serif;
}

.ao-score-buttons button, .aka-score-buttons button{
    width: 35%;
    height: 8%;
    font-size: 2vw;
    border-radius: 8px;

}

#aoippon {
    position: absolute;
    background-color: rgb(0, 102, 255);
    left: 10%;
    top: 2%;
}

#aoipponcount {
    position: absolute;
    background-color: rgba(0, 102, 255, 0.466);
    left: 2%;
    top: 2%;
    width: 8%;
    height: 8%;
}

#aowazaari {
    position: absolute;
    background-color: rgb(0, 102, 255);
    left: 10%;
    top: 12%;
}

#aowazaaricount {
    position: absolute;
    background-color: rgba(0, 102, 255, 0.466);
    left: 2%;
    top: 12%;
    width: 8%;
    height: 8%;
}

#aoyuko {
    position: absolute;
    background-color: rgb(0, 102, 255);
    left: 10%;
    top: 22%;
}

#aoyukocount {
    position: absolute;
    background-color: rgba(0, 102, 255, 0.466);
    left: 2%;
    top: 22%;
    width: 8%;
    height: 8%;
}

#aosenshu {
    position: absolute;
    background-color: rgb(223, 223, 223);
    left: 10%;
    top: 32%;
}

#akaippon {
    position: absolute;
    background-color: rgb(255, 0, 0);
    right: 10%;
    top: 2%;
}

#akaipponcount {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.466);
    right: 2%;
    top: 2%;
    width: 8%;
    height: 8%;
}

#akawazaari {
    position: absolute;
    background-color: rgb(255, 0, 0);
    right: 10%;
    top: 12%;
}

#akawazaaricount {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.466);
    right: 2%;
    top: 12%;
    width: 8%;
    height: 8%;
}

#akayuko {
    position: absolute;
    background-color: rgb(255, 0, 0);
    right: 10%;
    top: 22%;
}

#akayukocount {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.466);
    right: 2%;
    top: 22%;
    width: 8%;
    height: 8%;
}

#akasenshu {
    position: absolute;
    background-color: rgb(223, 223, 223);
    right: 10%;
    top: 32%;
}

.ao-penalties-container, .aka-penalties-container {
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

    display: flex;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 15px;
  
    background: rgba(2, 2, 2, 0.43);
    width: 80%;
    height: 10%;
}

.ao-penalties-container > input, .aka-penalties-container > input {
    width: 50%;
    height: 50%;
}

.aka-pen-name, .ao-pen-name {
    top: -35%;
    left: 49.4%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
}

.aka-pen-name > div, .ao-pen-name > div {
    padding: 1.9vw;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
}

.image-restart, .image-settings, .image-display, .image-tatami, .image-med, .image-wait, .image-change{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image-med img{
    position: absolute;
    right: 1%;
    top: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: white;
}

.image-restart img{
    position: absolute;
    left: 3%;
    top: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: white;
}

.image-settings img{
    position: absolute;
    right: 10%;
    top: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: white;
}

.image-display img{
    position: absolute;
    left: 6%;
    top: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: white;
}

.image-tatami img{
    position: absolute;
    right: 6.5%;
    top: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: white;
}

.image-change img{
    position: absolute;
    left: 9%;
    top: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: white;
}

.lymar {
    position: absolute;
    right: -3%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
}

.cher {
    position: absolute;
    right: -9.1%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
}

.med-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.med-time {
    background-image: url(med-back.png);
    padding: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex; /* Добавлено */
    justify-content: center; /* Добавлено */
    align-items: center;
}

.med-icon {
    position: absolute;
    left: 55.5%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.med-timer {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
    white-space: nowrap;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
}

.close-med {
    color: #ffffff;
    float: right;
    font-size: 5vw;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.close-med:hover,
.close-med:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.image-wait img{
    position: absolute;
    right: 4%;
    top: 80%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
    color: white;
}

.wait-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.wait-time {
    background-image: url(med-back.png);
    padding: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex; /* Добавлено */
    justify-content: center; /* Добавлено */
    align-items: center;
}

.wait-icon {
    position: absolute;
    left: 55.5%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.wait-timer {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
    white-space: nowrap;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
}

.close-wait {
    color: #ffffff;
    float: right;
    font-size: 5vw;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.close-wait:hover,
.close-wait:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.settings-wait-1 > button {
    width: 110px;
    height: 50px;
    font-weight: 750;
    border-radius: 4px;
    border-color: rgb(143, 143, 143);
    font-size: 1vw;
}

.wait-modal-1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.settings-wait-1, .settings-wait-1 {
    background-color: #a0a0a0;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #b8b8b8;
    width: 40%;
    border-radius: 10px;
}

.close-wait-1 {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
}

.close-wait-1:hover,
.close-wait-1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}