body, html {
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.half {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
}

.red {
  background-color: red;
  left: 0;
}

@keyframes flash {
  0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.flashing {
  animation: flash 1s steps(1) 3; /* Анимация мигания длится 1 секунду, повторяется бесконечно */
}

.aka-name {
  position: absolute;
  top: -19%;
  left: 3%;
  width: 361px;
  height: 218px;

  color: rgb(255, 243, 182);
  font-family: 'Montserrat', sans-serif;
  font-size: 180px;
  font-weight: 1000;
  line-height: 218px;
  letter-spacing: 0%;
  text-align: left;
}

.aka-score {
  position: absolute;
  width: 300px;
  height: 581px;
  left: 20%;
  top: -25%;

  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 480px;
  font-weight: 1000;
  line-height: 581px;
  letter-spacing: 0%;
  text-align: left;
}

#aka-senshu {
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 190px;
  height: 50px;

  display: none;
  justify-content: space-around;
  align-items: center;

  box-sizing: border-box;
  border: 2px solid rgb(255, 251, 0);
  border-radius: 15px;

  color: rgb(255, 251, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 1000;
  line-height: 581px;
  letter-spacing: 0%;
  text-align: left;
}

.aka-penalties, .ao-penalties {
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 724px;
  height: 132px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-sizing: border-box;
  border: 2px solid rgb(141, 141, 141);
  border-radius: 15px;

  background: rgba(2, 2, 2, 0.43);
}

.aka-pen-name, .ao-pen-name {
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aka-pen-name > div, .ao-pen-name > div {
  padding: 23px;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  font-weight: 400;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: left;
}

.aka-penalties > div, .ao-penalties > div {
  width: 101px;
  height: 101px;
  box-sizing: border-box;
  border: 2px solid rgb(141, 141, 141);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.356);
}

.blue {
  background-color: blue;
  right: 0;
}

.ao-name {
  position: absolute;
  top: -19%;
  right: 2%;
  width: 361px;
  height: 218px;

  color: rgb(255, 243, 182);
  font-family: 'Montserrat', sans-serif;
  font-size: 180px;
  font-weight: 1000;
  line-height: 218px;
  letter-spacing: 0%;
  text-align: right;
}

.ao-score {
  position: absolute;
  width: 300px;
  height: 581px;
  right: 22%;
  top: -25%;

  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 480px;
  font-weight: 1000;
  line-height: 581px;
  letter-spacing: 0%;
  text-align: left;
}

#ao-senshu {
  top: 25%;
  right: 4%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 190px;
  height: 50px;

  display: none;
  justify-content: space-around;
  align-items: center;

  box-sizing: border-box;
  border: 2px solid rgb(255, 251, 0);
  border-radius: 15px;

  color: rgb(255, 230, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 1000;
  line-height: 581px;
  letter-spacing: 0%;
  text-align: left;
}

.tatami {
  width: 200px; /* Размер белого квадрата */
  height: 200px; /* Размер белого квадрата */
  background-color: rgb(212, 212, 212);
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 41px;

  background: rgb(212, 212, 212);
}

.text {
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 1000;
  line-height: 79px;
  letter-spacing: 0%;
  text-align: left;
}

#number {
  position: absolute;
  top: -32%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 180px;
  font-weight: 1000;
  line-height: 218px;
  letter-spacing: 0%;
  text-align: left;
}

.timer {
  width: 523px; /* Размер белого квадрата */
  height: 252px; /* Размер белого квадрата */
  background-color: rgb(212, 212, 212);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 41px;

  background: rgb(212, 212, 212);
}

.time {
  position: absolute;
  top: -43%;
  left: 51%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  font-weight: 1000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 218px;
  letter-spacing: 0%;
  text-align: left;
}

@media only screen and (max-width: 1280px) {
  .aka-name {
    position: absolute;
    top: -23%;
    left: 3%;
    width: 361px;
    height: 218px;
  
    color: rgb(255, 243, 182);
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 1000;
    line-height: 218px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .aka-score {
    position: absolute;
    width: 300px;
    height: 581px;
    left: 20%;
    top: -50%;
  
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 360px;
    font-weight: 1000;
    line-height: 581px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  #aka-senshu {
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 190px;
    height: 50px;
  
    display: none;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(255, 251, 0);
    border-radius: 15px;
  
    color: rgb(255, 251, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    line-height: 581px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .aka-penalties, .ao-penalties {
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 494px;
    height: 90px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 15px;
  
    background: rgba(2, 2, 2, 0.43);
  }
  
  .aka-pen-name, .ao-pen-name {
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .aka-pen-name > div, .ao-pen-name > div {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .aka-penalties > div, .ao-penalties > div {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.356);
  }
  
  .ao-name {
    position: absolute;
    top: -23%;
    right: 2%;
    width: 361px;
    height: 218px;
  
    color: rgb(255, 243, 182);
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 1000;
    line-height: 218px;
    letter-spacing: 0%;
    text-align: right;
  }
  
  .ao-score {
    position: absolute;
    width: 300px;
    height: 581px;
    right: 10%;
    top: -50%;
  
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 360px;
    font-weight: 1000;
    line-height: 581px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  #ao-senshu {
    top: 25%;
    right: 4%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 190px;
    height: 50px;
  
    display: none;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(255, 251, 0);
    border-radius: 15px;
  
    color: rgb(255, 230, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    line-height: 581px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .tatami {
    width: 125px; /* Размер белого квадрата */
    height: 125px; /* Размер белого квадрата */
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
  
    background: rgb(212, 212, 212);
  }
  
  .text {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 1000;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  #number {
    position: absolute;
    top: -24%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 103px;
    font-weight: 1000;
    line-height: 218px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .timer {
    width: 250px; /* Размер белого квадрата */
    height: 135px; /* Размер белого квадрата */
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 31px;
  
    background: rgb(212, 212, 212);
  }
  
  .time {
    position: absolute;
    top: -38%;
    left: 51%;
    transform: translate(-50%, -50%);
  
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 115px;
    font-weight: 1000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 218px;
    letter-spacing: 0%;
    text-align: center;
  }
}

@media only screen and (max-width: 1600px) {
  .aka-name {
    position: absolute;
    top: -20%;
    left: 3%;
    width: 361px;
    height: 218px;
  
    color: rgb(255, 243, 182);
    font-family: 'Montserrat', sans-serif;
    font-size: 140px;
    font-weight: 1000;
    line-height: 218px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .aka-score {
    position: absolute;
    width: 300px;
    height: 581px;
    left: 20%;
    top: -35%;
  
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 450px;
    font-weight: 1000;
    line-height: 581px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  #aka-senshu {
    top: 24%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 145px;
    height: 40px;
  
    display: none;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(255, 251, 0);
    border-radius: 10px;
  
    color: rgb(255, 251, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    line-height: 581px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .aka-penalties, .ao-penalties {
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 120px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 15px;
  
    background: rgba(2, 2, 2, 0.43);
  }
  
  .aka-pen-name, .ao-pen-name {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .aka-pen-name > div, .ao-pen-name > div {
    padding: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 66px;
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .aka-penalties > div, .ao-penalties > div {
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.356);
  }
  
  .ao-name {
    position: absolute;
    top: -20%;
    right: 2%;
    width: 361px;
    height: 218px;
  
    color: rgb(255, 243, 182);
    font-family: 'Montserrat', sans-serif;
    font-size: 140px;
    font-weight: 1000;
    line-height: 218px;
    letter-spacing: 0%;
    text-align: right;
  }
  
  .ao-score {
    position: absolute;
    width: 300px;
    height: 581px;
    right: 20%;
    top: -35%;
  
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 450px;
    font-weight: 1000;
    line-height: 581px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  #ao-senshu {
    top: 24%;
    right: 6%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 145px;
    height: 40px;
  
    display: none;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(255, 251, 0);
    border-radius: 10px;
  
    color: rgb(255, 230, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 1000;
    line-height: 581px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .tatami {
    width: 170px; /* Размер белого квадрата */
    height: 170px; /* Размер белого квадрата */
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
  
    background: rgb(212, 212, 212);
  }
  
  .text {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 1000;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  #number {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 133px;
    font-weight: 1000;
    line-height: 218px;
    letter-spacing: 0%;
    text-align: left;
  }
  
  .timer {
    width: 400px; /* Размер белого квадрата */
    height: 195px; /* Размер белого квадрата */
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 31px;
  
    background: rgb(212, 212, 212);
  }
  
  .time {
    position: absolute;
    top: -42%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 176px;
    font-weight: 1000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 218px;
    letter-spacing: 0%;
    text-align: center;
  }
}