body, html {
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;

}

#startButton {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    width: 50%;
    height: 35%;
    background-color: rgba(102, 255, 0, 0.527);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#pauseButton {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    width: 50%;
    height: 35%;
    background-color: rgba(255, 0, 0, 0.555);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    border-right: 2px solid rgb(0, 0, 0);
}

.half {
    width: 40%; /* ширина 40% */
    height: 100%;
}

.aka, .ao {
    height: 100%;
    flex-grow: 1; /* Оба элемента будут занимать одинаковое пространство */
}

.aka {
    background-color: red;
}

.ao {
    background-color: blue;
}

.aside {
    width: 20%; /* Ширина 20% */
    background-color: rgb(211, 211, 211); /* Для наглядности */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    margin: 10px; /* Добавление отступа между элементами в столбце */
}

.update-time,
.update-tatami,
.reset,
.openscoreboard {
    width: 100%; /* Ширина блоков равна ширине родительского контейнера */
    text-align: center; /* Выравнивание текста по центру */
}

.update-time p,
.update-tatami p {
    margin: 5px; /* Добавляем небольшой отступ между абзацем и следующим элементом */
}

.update-time > input {
    width: 18%;
    height: 26%;
    font-size: large;
}

.update-tatami > button {
    width: 50%;
    height: 30%;
    font-weight: 750;
    font-size: large;
    border-radius: 4px;
    border-color: rgb(143, 143, 143);
}

.update-time > button {
    width: 80%;
    height: 30%;
    font-weight: 750;
    font-size: large;
    border-radius: 4px;
    border-color: rgb(143, 143, 143);
}

.reset > button{ 
    width: 80%;
    height: 45%;
    font-weight: 750;
    font-size: large;
    border-radius: 4px;
    border-color: rgb(143, 143, 143);
}

.update-tatami > input {
    width: 18%;
    height: 26%;
    font-size: large;
}

.openscoreboard > button {
    width: 80%;
    height: 55%;
    font-weight: 750;
    font-size: large;
    border-radius: 4px;
    border-color: rgb(143, 143, 143);
}

.timer-class {
    width: 35%; /* Размер белого квадрата */
    height: 30%; /* Размер белого квадрата */
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
  
    box-sizing: border-box;
    border: 2px solid rgb(121, 121, 121);
    border-radius: 25px;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: flex-end;
    background: rgb(212, 212, 212);
  }
  
#timerDisplay {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;

    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    letter-spacing: 0%;
    text-align: center;

    position: absolute;
    bottom: 0;
    margin: 0;

    font-size: calc(4em + 4vw);
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

.aka-name {
    position: absolute;
    top: -20%;
    left: 1%;

    color: rgb(255, 243, 182);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(2em + 4vw);
    font-weight: 1000;
    line-height: 218px;
    text-align: left;
}

.ao-name {
    position: absolute;
    top: -20%;
    right: 18%;

    color: rgb(255, 243, 182);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(2em + 4vw);
    font-weight: 1000;
    line-height: 218px;
    text-align: right;
}

#ipponAkaButton {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translateX(-50%);

    width: 15%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#waza-ariAkaButton {
    position: absolute;
    top: 25%;
    left: 10%;
    transform: translateX(-50%);

    width: 15%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#yukoAkaButton {
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translateX(-50%);

    width: 15%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#ipponAoButton {
    position: absolute;
    top: 15%;
    right: 13%;
    transform: translateX(-50%);

    width: 15%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#waza-ariAoButton {
    position: absolute;
    top: 25%;
    right: 13%;
    transform: translateX(-50%);

    width: 15%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#yukoAoButton {
    position: absolute;
    top: 35%;
    right: 13%;
    transform: translateX(-50%);

    width: 15%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#senshuAkaButton {
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateX(-50%);

    width: 10%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#senshuAoButton {
    position: absolute;
    top: 50%;
    right: 15.5%;
    transform: translateX(-50%);

    width: 10%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#aka-score {
    position: absolute;
    left: 23%;
    top: -16%;

    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16em + 4vw);
    font-weight: 1000;
    letter-spacing: 0%;
    text-align: center;
}

#ao-score {
    position: absolute;
    right: 40%;
    top: -16%;

    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(16em + 4vw);
    font-weight: 1000;
    letter-spacing: 0%;
    text-align: center;
}

#akaMinus {
    position: absolute;
    top: 65%;
    left: 10%;
    transform: translateX(-50%);

    width: 15%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

#aoMinus {
    position: absolute;
    top: 65%;
    right: 13%;
    transform: translateX(-50%);

    width: 15%;
    height: 8%;
    background-color: rgb(0, 255, 242);
    font-weight: 750;
    font-size: large;
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
}

.penalties-aka {
    bottom: 0%;
    left: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 30%;
    height: 10%;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 15px;
  
    background: rgba(2, 2, 2, 0.43);
  }

.penalties-aka > input {
    width: 40%;
    height: 40%;
    box-sizing: border-box;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.356);
  }

.penalties-ao {
    bottom: 0%;
    right: 7%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 30%;
    height: 10%;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    box-sizing: border-box;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 15px;
  
    background: rgba(2, 2, 2, 0.43);
}

.penalties-ao > input {
    width: 40%;
    height: 40%;
}

.aka-pen-name {
    bottom: 4%;
    left: 19.5%;
    transform: translate(-50%, -50%);
    position: absolute;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aka-pen-name > div {
    padding: 12px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1em + 2vw);
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: left;
}

.ao-pen-name {
    bottom: 4%;
    right: 8.5%;
    transform: translate(-50%, -50%);
    position: absolute;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ao-pen-name > div {
    padding: 12px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1em + 2vw);
    font-weight: 400;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: left;
  }